@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-blue-water font-Poppins  overflow-x-hidden;
  }

  section {
    @apply my-10;
  }

  .container {
    @apply p-4;
  }
}

.navLinks-active {
  @apply lg:top-0 lg:translate-y-0 md:top-1/4 top-1/3 translate-y-1/2 opacity-100 z-10;
}

.navCont-active {
  @apply lg:pb-0 pb-40;
}

.nav-active > span:nth-child(1) {
  @apply -rotate-[35deg] bg-red-500;
}

.nav-active > span:nth-child(2) {
  @apply scale-0;
}

.nav-active > span:nth-child(3) {
  @apply rotate-[35deg] bg-red-500;
}

/* Homepage */

/* Homepage End */

@layer utilities {
  /* .text-stroke  {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 12px;
        @apply text-Black-storke
    } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply capitalize;
  }

  h1 {
    @apply 2xl:text-4xl xl:text-3xl md:text-3xl text-xl font-bold;
  }

  h2 {
    @apply md:text-3xl text-base font-semibold;
  }

  h3 {
    @apply md:text-2xl text-base font-semibold;
  }

  h5 {
    @apply 2xl:text-xl text-base;
  }

  h6 {
    @apply 2xl:text-base xl:text-sm md:text-base text-sm;
  }
}
