@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-blue-water font-Poppins  overflow-x-hidden;
  }

  section {
    @apply md:my-24 my-10;
  }

  .container {
    @apply p-4;
  }

  main {
    @apply my-24;
  }
}

.btn-Active > div > span {
  @apply w-full;
}


@layer components {


  .accordion-header.active i {
      @apply transition ease-in-out duration-300;
      transform:rotateX(180deg);
  }

  .accordion-body {
      @apply  max-h-0 overflow-hidden transition-all duration-200 ease-in-out
  }
}

/*pb-[330px] */
.navCont-active {
  @apply 3xl:pb-16 md:pb-12 shadow-md;
}

.pb-active {
  @apply md:pb-0 pb-48;
}

.dropMenu-Active {
  @apply 3xl:top-16 2xl:top-[60px] md:top-16 top-[52px] md:left-0 z-10 opacity-100;
}

.nav-active > span:nth-child(1) {
  @apply -rotate-45 bg-red-500;
}

.nav-active > span:nth-child(2) {
  @apply scale-0;
}

.nav-active > span:nth-child(3) {
  @apply rotate-45 bg-red-500;
}

.nav-ActiveCont {
  @apply shadow-md;
}

.box-CargoActive {
  @apply top-8 opacity-100 z-10
}

/* Homepage */

.box-Active {
  @apply opacity-100 top-10 z-10
}

/* Homepage End */

.swiper-custom-pagination {
  @apply flex w-full  pt-4 lg:gap-4 md:gap-2 gap-1;
}

.swiper-custom-pagination .swiper-pagination-bullet {
  @apply w-auto h-auto rounded-none bg-transparent;
}

.swiper-custom-pagination .number {
  @apply hidden;
}

.swiper-custom-pagination .line {
  @apply bg-opacity-100 md:h-2 md:w-4 h-1.5 w-3 bg-blue-Neru block rounded transition-all ease-in-out duration-300;
}

.swiper-custom-pagination .swiper-pagination-bullet-active .line {
  @apply bg-opacity-100;
}

.swiper-custom-pagination .swiper-pagination-bullet-active .line {
  @apply md:w-12 w-6;
}

@layer utilities {
  /* .text-stroke  {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 12px;
        @apply text-Black-storke
    } */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply capitalize;
  }

  h1 {
    @apply 2xl:text-7xl xl:text-3xl md:text-3xl text-xl font-bold;
  }

  h2 {
    @apply 3xl:text-5xl lg:text-4xl md:text-2xl text-xl;
  }

  h3 {
    @apply md:text-2xl text-base;
  }

  h5 {
    @apply 2xl:text-xl text-base;
  }

  h6 {
    @apply 2xl:text-base xl:text-sm md:text-base text-sm;
  }
}
